<nav>
    <div id="sidebar" class="px-3 py-4">
        <ul>
            <li><a href="load" <% if (page === 'load') { %>class="active"<% } %>>Load</a></li>
            <li><a <% if (page === 'playlists') { %>class="active"<% } %>>Playlists (planned)</a></li>
            <li><a <% if (page === 'schedule') { %>class="active"<% } %>>Schedule (planned)</a></li>
        </ul>
    </div>
</nav>