html,
body {
    height: 100%;
    width: 100%;
    background-color: #03A9F4;
    box-sizing: border-box;
    cursor: none;
}

body * {
    box-sizing: inherit;
}

body>div {
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vmin;
    height: 100vmin;
}

#outerring {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 100%;
    border: 10vmin solid rgba(255, 255, 255, .2);
}

#innerring {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45vmin;
    height: 45vmin;
    border-radius: 100%;
    border: 2vmin solid rgba(255, 255, 255, .1);

    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#outline {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 100%;
    border: 1vmin solid rgba(255, 255, 255, .2);
}

#ticks {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95vmin;
    height: 95vmin;

    border-radius: 100%;
    border: 1vmin dashed rgba(255, 255, 255, .2);

    animation-duration: 120s;
    animation-name: counterclockwise;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#second {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 5vmin;
    height: 91.5vmin;
}

#second>div {
    width: 100%;
    height: 5vmin;
    background-color: white;
    border-radius: 5vmin;
}

#minute {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1vmin;
    height: 100%;
}

#minute>div {
    width: 100%;
    height: 50vmin;
    margin-top: 14vmin;
    background-color: white;
}

#hour {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.5vmin;
    height: 60vmin;
}

#hour>div {
    width: 100%;
    height: 50%;
    margin-top: 5vmin;
    background-color: white;
}

#center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4vmin;
    height: 4vmin;
    background-color: #fff;
    border-radius: 100%;
}

@keyframes counterclockwise {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    from {
        width: 45vmin;
        height: 45vmin;
    }

    50% {
        width: 35vmin;
        height: 35vmin;
    }

    to {
        width: 45vmin;
        height: 45vmin;
    }
}