@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: .25em;
}

h2 {
    font-size: 1.9em;
    line-height: 1.2em;
    margin-bottom: .25em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: .25em;
}

h4 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

h5 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

h6 {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

input {
    background-color: #F5F5F5;
    padding: .2em .4em;
    color: #000;
    border: 1px solid #7986CB;
    border-radius: .25em;
}

button,
input[type="button"],
input[type="submit"],
.button {
    padding: .2em .4em;
    background-color: theme('colors.indigo.700');
    color: #fff;
    cursor: pointer;
    border-radius: .25em;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.button:focus {
    background-color: theme('colors.indigo.600');
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
.button:active {
    background-color: theme('colors.indigo.800');
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em;
}

#sidebar {
    background-color: theme('colors.indigo.700');
    color: theme('colors.indigo.50');
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 300px;
    transition: left .25s ease;
}

#sidebar li a {
    display: block;
    padding: 8px 12px;
    margin-bottom: 2px;
    font-size: 16pt;
    border-radius: .4em;
    user-select: none;
}

#sidebar li a:hover {
    background-color: theme('colors.indigo.600');
}

#sidebar li a:active,
#sidebar li a.active {
    background-color: theme('colors.indigo.800');
}

.content {
    margin-left: 300px;
    padding: 8px 32px;
    transition: margin .25s ease;
}

.tablelist>div {
    position: relative;
}

.tablelist>div>button.expand-btn {
    position: absolute;
    right: 1em;
    top: 0;
    height: 100%;
    padding: 1em;
    border-radius: 0;
}

.tablelist>div {
    border: 1px solid theme('colors.indigo.300');
    border-bottom: none;
    border-radius: 0;
}

.tablelist>div>button.module-btn {
    display: block;
    width: 100%;
    text-align: left;
    height: 100px;
    border-radius: 0;
    background-color: transparent;
    line-height: 80px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.tablelist>div>button.module-btn:hover,
.tablelist>div>button.module-btn:focus {
    color: #fff;
    background-color: theme('colors.indigo.600');
}

.tablelist>div>button.module-btn:active,
.tablelist>div>button.module-btn.active {
    color: #fff;
    background-color: theme('colors.indigo.800');
}

.tablelist>div:first-of-type,
.tablelist>div:first-of-type>button.module-btn {
    border-radius: .75em .75em 0 0;
}

.tablelist>div:nth-last-of-type(1),
.tablelist>div.collapsed:nth-last-of-type(1)>button.module-btn {
    border-radius: 0 0 .75em .75em;
}

.tablelist>div:nth-last-of-type(1) {
    border-bottom: 1px solid theme('colors.indigo.300');
}

.tablelist>div:nth-of-type(n + 2)>button {
    border-top: none;
}

.tablelist>div.collapsed form {
    display: none;
}

.tablelist>div.collapsed .collapse,
.tablelist>div .expand {
    display: none;
}

.tablelist>div.collapsed .expand,
.tablelist>div .collapse{
    display: initial;
}

.tablelist form {
    padding: .5em .8em;
}

@media screen and (max-width: 675px) {
    #sidebar {
        left: -300px;
    }

    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .tablelist>div>button.module-btn img {
        display: none;
    }
}